$primary: #0D7F8C;
$secondary: #F2C879;
$secondary-001: #F2865E; 
$secondary-002: #fa7373; 
$white: #f5eded;
$black: #0D0D0D;
$black-001: #3e3838;
$button: #aea1a1;
$box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
$background-transparent: #808080ab;
$comment: #6b6262;
$comment-001: #5a4f4fa0;