<section class="home__content">
    <div class="banner">
        <img ngSrc="assets/banner.png" alt="banner com personagens da Nintendo" fill loading="eager">
    </div>
    <article class="presentation">
        <div class="container container__presentation">
            <h2>O seu portal de notícias favorito da internet</h2>
            <p>Aqui você pode ter acesso ao melhor conteúdo informativo de videogames. Fique por dentro e saiba mais!</p>
        </div>
    </article>
    <app-cards [id]="id"></app-cards>
</section>

